[package]
name = "s3-server"
version = "0.1.0-dev"
authors = ["Nugine <nugine@foxmail.com>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/datenlord/s3-server"
readme = "README.md"
description = "S3 service implementation"
keywords = ["s3"]
categories = ["web-programming", "web-programming::http-server"]

[features]
default = ["rt-tokio"]
rt-async-std = ["async-std"]
rt-tokio = []

[dependencies]
async-std = { version = "1.6.3", optional = true }
tokio = { version = "0.2.22", default-features = false }
hyper = "0.13.7"
futures = "0.3.5"
thiserror = "1.0.20"
rusoto_core = "0.45.0"
rusoto_s3 = "0.45.0"
async-trait = "0.1.40"
log = "0.4.11"
xml-rs = "0.8.3"
mime = "0.3.16"
bytes = "0.5.6"
pin-project-lite = "0.1.7"
path-absolutize = "3.0.6"
serde = "1.0.115"
serde_urlencoded = "0.7.0"
chrono = "0.4.15"
nom = "5.1.2"
smallvec = "1.4.2"
quick-xml = { version = "0.18.1", features = ["serialize"] }
once_cell = "1.4.1"
regex = "1.3.9"
const-str = { version = "0.1.2", features = ["verify-regex"] }

[dev-dependencies]
tokio = { version = "0.2.22", features = ["full"] }
async-std = { version = "1.6.3", features = ["tokio02", "attributes"] }
futures-timer = "3.0.2"
anyhow = "1.0.32"
env_logger = "0.7.1"
structopt = "0.3.17"
